.kanban-board {
    display: flex;
    padding: 20px;
}

.list {
    width: 250px;
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.card {
    background-color: #ffffff;
    padding: 10px 10px 30px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.card.editable-card{
    padding: 10px;
}

.small-form {
    display: -webkit-inline-flex;
    margin-bottom: 10px;
}